#activity-cont{
    height: 12vw;
    width: 60vw;
    font-size: 1.5vw;
}

#activity{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#headings{
    font-weight: 500;
    font-size: 3.6vw;
   
}

/* .table{
margin-left: 5vw;
margin-right: 5vw;
width: 90vw;
} */

#img-car img{
    height: 40vw;
    margin: 5vw;
}

.ball{
    height: 24vw;
    width: 24vw;
    background-color: red;
    border-radius: 50%;
}

thead th{
    font-size: 1.6vw;
}

tbody th{
    font-size: 1.6vw;
}

tbody td{
    font-size: 1.2vw;
}