.year-title{
    text-align: left;
    font-size: 1.7vw;
    font-weight: 600;
    margin-left: 5vw;
    margin-top: 5vh;
}

#head_ing {
    font-weight: 500;
    font-size: 2vw;
    margin-left: 3vw;
}

#fam{
    font-size: 5vw;
    margin-left: 3vw;
}

#fam-part{
    display: flex;
    flex-direction: row;
}

.teams{
    margin: 5vw;
}